main{
    background-color: map-get($estilos, colorM);
    h1{
        text-align: map-get($estilos, centro);
    }
    article{
        .artiSup{@include padding(10%, 0, 5px, 5px)}
        .artiInfe{@include padding(15%, 0, 5px, 5px)}
        .paraiso{@include padding(10%, 0, 5px, 5px)}
    }
    form{text-align: map-get($estilos, centro);}
}
