@media only screen and (max-width: 768px) {
    .vinoParaiso{width: 100%;}
    .LogoF{display: none;}
    .carrucel{height: map-get($estilos, largoCarrucel/3);}
    footer{
        div{
            p{@include padding(0, 0, 0, 0)}
        }
    }
}