@media only screen and (max-width: 768px) {
    .vinoParaiso{width: 100%;}
    .mapas{width:200px; height:150px;}
    .LogoF{display: none;}
    .carrucel{height: map-get($estilos, largoCarrucelM);}
    footer{
        div{
            p{@include padding(0, 0, 0, 0);}
        }
    }
}
@media only screen and (min-width: 1024px) {
    .mapas{width: 1150px; height:500px;}
    .vinoParaiso{width: 50%;}
    .carrucel{height: map-get($estilos, largoCarrucel);}
    footer{
        div{
            p{@include padding(60px, 0, 100px, 0)}
        }
    }
}