*  {box-sizing: border-box ; padding: 0 ;margin: 0 ;}
@mixin padding($pTop, $pBottom, $pLeft, $pRight){
    padding-top: $pTop;
    padding-bottom: $pBottom;
    padding-left: $pLeft;
    padding-right: $pRight;
}
@mixin altoAncho($alto, $ancho) {
    width: $ancho;
    height: $alto;
}
$estilos:(
    colorTitulo: #00FFFF,
    colorHF: #45818E,
    colorM: #134F5C,
    colorLetras: white,
    colorBorde: black,
    centro: center,
    largoCarrucel: 735px,
    largoCarrucelM: 200px
)
