footer{
    background-color: #45818E;
    a{
        background-color: black;
        img{
            height: 45px;
            width: 50px;
        }
    }
    div{
        p{
            padding-left: 100px;
            padding-top: 60px;
        }
    }
}