main{
    background: #134F5C;
    h1{
        text-align: center;
    }
    article{
        .artiSup{padding-top: 20%;}
        .artiInfe{padding-top: 15%;}
        .paraiso{padding-top: 10%;}
    }
    form{text-align: center;}
}
